.homepage-container {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-content {
  text-align: center;
}

.homepage-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.homepage-button button {
  margin: 0 10px;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #c8ad7f;
  color: #fff;
  cursor: pointer;
}

.homepage-button button:hover {
  background-color: #c8ad7f;
}
